.item {
  display: block;
  position: relative;
  border: 1px solid var(--purple-color);
  border-radius: 8px;
  color: var(--purple-color);
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .checkmark {
    margin-left: 8px;
    flex-shrink: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    border: 2px solid var(--purple-color);
    border-radius: 4px;
    background-color: inherit;
  }

  & input:checked ~ .checkmark {
    background-color: var(--purple-color);
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & .checkmark:after {
    left: 9px;
    top: 0px;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  h3 {
    font-size: 20px;
  }
}
