.container {
  margin: 0 auto;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  max-width: 550px;
  width: 100%;
  h3 {
    margin-bottom: 64px;
    font-size: 48px;
    color: var(--main-color);
  }
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background-color: var(--grey-color);
  font-size: 48px;
  letter-spacing: 24px;
}
