.container {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 700px;
}

.routesList {
  display: flex;
  flex-direction: column;
}

.listItem {
  padding: 12px;
  border: 2px solid var(--purple-color);
  border-radius: 20px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.routeBtn {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--purple-color);
  font-size: 24px;

  i {
    margin-right: 12px;
    font-size: 32px;
  }
}
