:root {
  --main-color: #b39bc8;
  --yellow-color: #f3d250;
  --dark-blue-color: #5da2d5;
  --light-blue-color: #90ccf4;
  --green-color: #37a340;
  --background-color: #f0ebf4;
  --grey-color: #a1c3d1;
  --purple-color: #e64398;
  --pink-color: #f172a1;
  --red-color: #ff0000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: stretch;
  display: flex;
  font-family: 'Open Sans';
  background-color: var(--background-color);
}

html {
  height: stretch;
}

#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
