.container {
  width: 100%;

  .title {
    margin: 24px 0;
    text-align: center;
    color: var(--purple-color);
    text-transform: uppercase;
  }
  .wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-top: 1px var(--purple-color) solid;
    .labelWrap {
    }
    .label {
      display: flex;
      align-items: center;
      input {
        margin-right: 24px;
        width: 20px;
        height: 20px;
      }
      p {
        font-size: 24px;
        color: var(--purple-color);
      }
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    .error {
      margin-left: 12px;
      display: flex;
      align-items: center;
      color: var(--red-color);
      //   p:first-child {
      //     font-size: 48px;
      //   }
      p:last-child {
        margin-left: 12px;

        font-size: 16px;
      }
    }
  }
}
