.nextBtn {
  margin: 0 auto 20px;
  max-width: 300px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border: none;
  border-radius: 25px;
  font-size: 32px;
  color: #fff;
  &.corect {
    background-color: var(--green-color);
  }
  &.wrong {
    background-color: var(--red-color);
  }
}

.logoWrap {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) {
  .logoWrap {
    margin-top: 10px;
  }
}
