.customInput {
  width: 250px;
  height: 50px;
  border: 2px solid var(--purple-color);
  padding: 2px 8px;
  color: var(--purple-color);
  font-size: 20px;
  background-color: inherit;
  outline: none;
}
