.container {
  position: relative;
  margin: 10px auto;
  max-width: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  p {
    font-weight: 700;
  }
}

.btnWrap {
  position: absolute;
  right: 10px;
}

.trashIconBtn,
.saveIconBtn {
  width: 32px;
  height: 32px;
  border: 1px solid;
  border-radius: 4px;
  i {
    font-size: 24px;
  }
}

.saveIconBtn {
  margin-right: 8px;
  border-color: var(--green-color);
  color: var(--green-color);
}

.trashIconBtn {
  border-color: var(--red-color);
  color: var(--red-color);
}
